*{
    margin:0px;
    padding: 0px;
    border: border-box;         
    font-family: Arial , sans-serif;
}
/*main nav*/
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
   
}
/*box1*/
.logo{
    height:60px;
    width:110px;
   /* margin:1px;*/
    padding:1px 8px 0px 6px;
}

.nav_logo{
    background-image: url("amazon-logo.webp");
    height:60px;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;

}
/*box2*/
.nav-address{
    margin:5px 2px 5px 0px;
}
/*hover effect for address*/
.nav-address:hover{
    border: 1.5px solid white ;
}
.nav-top{
    font-size: 12px;
    margin-left:15px;
}
.nav-bottom{
    font-size: 14px;
    font-weight: bolder;
}
/*box3*/
.mainsearch{
    height:40px;
    width:620px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    border-radius:5px;
    background-color: #0f1111;
    margin:4px;
    
}
.search-input{
    height:40px;
    width:550px; 
    font-size:1rem;
    border:none;
}
.search-select{
    height:40px;
    width:50px;
    background-color: #f3f3f3;
    text-align:center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    
}
.search-icon{
    height:40px;
    width:45px;
    font-size:2 rem;
    background-color:#febd68;
    display:flex;
    align-items:center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/*box4*/
.nav-signin{
    height:50px;
    width:113px;
    
    
}
.p-up{
    margin-top:4px;
    font-size:0.7rem;
}
.p-dowm{
    font-size:0.9rem;
    font-weight: bolder;
}
/*box5*/
.returns{
    height:50px;
    width:113px;
    
    
}
.r-up{
    margin-top:4px;
    font-size:0.7rem;
}
.r-dowm{
    font-size:0.9rem;
    font-weight: bolder;
}
/*hover effect for signin*/
.nav-signin:hover{
    border: 1.5px solid white ;
}
/*hover effect for returns*/
.returns:hover{
    border: 1.5px solid white ;
}
/*hover effect for logo*/
.logo:hover{
    border: 1.5px solid white ;
}
/*hover effect for logo*/
.mainsearch:hover{
    border: 2.5px solid orange ;
}
/*box6*/
.cart{
    display:flex;
}
/*hover effect for cart*/
.cart:hover{
    border: 2.5px solid white ;
    height:40px;
    width:70px;
}
.cart-logo{
    font-size:30px;
}
.cart-text{
    font-size:0.85rem;
    margin-top:20px;
    font-weight: 700;
}
/*panel*/
.panel{
    height:40px;
    display:flex;
    background-color: #222f3d;
    color:white;
    align-items:center;
    justify-content:space-evenly;
    
}
.panel-options{
    display:flex;
    font-size:0.85rem;
     width:80%;

}
.panel-deals{
    font-weight:700;
    font-size: 1rem;
}
.all{
    display:flex;
}
#ops{
    margin-left:15px;
}
/*hover for panel options*/
#ops:hover{
    border:3px solid white;
}
 /*hover for panel deals*/
.panel-deals:hover{
    border:3px solid white;
}
 /*hover for panel all*/
.all:hover{
    border:3px solid white;
}
.hero-section{
    height:300px;
    background-image: url("amazon-hero.jpg");
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
.smalldiv{
    height:40px;
    width:80%;
    background-color: white;
    color:#0f1111;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:0.85rem;
    margin-bottom:25px;
}
.linkto{
    color:#007185;
}
/*shop-section*/
.shop-main{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    background-color: rgba(162, 232, 175, 0.35);
}
.box{
    height:400px;
    width:23%;
   /* border:2px solid black;*/
    background-color: white;
    padding:20px 0px 15px;
    margin-top:1rem;
}
.img1{
    height:350px;
    width:99%;
    background-image: url("cosmeticsupdated.jpg");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
 .box-content p{
     color:#007185;
 }
 .img2{
    height:350px;
    width:99%;
    background-image: url("gadgetsupdated.webp");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
 .img3{
 height:350px;
    width:99%;
    background-image: url("home.avif");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;
 }
 .img4{
    height:350px;
    width:99%;
    background-image: url("dresses.webp");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
 .img5{
     height:350px;
    width:99%;
    background-image: url("babysup.jpg");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
 .img8{
     height:350px;
    width:99%;
    background-image: url("greensup.jpg");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
 .img7{
    height:350px;
    width:99%;
    background-image: url("groceryup.webp");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
 .img6{
    height:350px;
    width:99%;
    background-image: url("furniture.jpg");
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;

 }
/*footer*/
.footer{
    margin-top:10px;
}
 .first-foot{
    height:50px;
     background-color: #37475a;
     margin-top:2rem;
     display:flex;
     color:white;
     align-items:center;
     justify-content:center;
     font-size:0.85rem;
 }
 .second-foot{
    background-color:#222f3d;
    color:white;
    display:flex;
    height:500px;
    justify-content: space-evenly;
    align-items: center;
 }
 .fp{
    font-size:16px;
    font-weight:bolder;
    
    
 }
 ul{
    line-height:2rem;
    list-style-type:none;
    margin-top:10px;
 }
 ul a{
    color:#dddddd;
 }
 .third-foot{
    background-color: #222f3d;
    border-top:1px solid white;
    height:50px;
   display:flex;
    justify-content:center;
    align-items:center;
 }
 .pages{
    color:white;
    font-size:0.85rem;
    width:800px;
    justify-content: space-evenly;
    display:flex;
 }
 .second{
    color:white;
    background-color: #222f3d;
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
    font-size:0.85rem;
 }